<!doctype html>
<html><head>
    <meta charset="utf-8">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <script src="../static/js/jquery.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../static/js/jssha256.js" type="text/javascript"></script>
    <script src="../static/js/json2.js" type="text/javascript"></script>
    <script src="../static/js/common.js" type="text/javascript"></script>
    <script src="../static/js/configuration.js" type="text/javascript"></script>
    <script src="../static/js/login.js" type="text/javascript"></script>
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/docs.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/admin.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 6]>    
    	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-ie6.css">
        <link rel="stylesheet" type="text/css" href="../static/css/ie.css">
        <script type="text/javascript" src="../static/js/bootstrap-ie.js"></script>
    <![endif]-->
	<title>Meepo管理界面</title>
    <script>
		checkRemember();
	</script>
</head>
<body class="loginBody">
    <!--Container start-->
    <div class="container">
    	<div class="myModal">
            <div class="modal-header">
                <h3>Login</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="username">用户名</label>
                        <div class="controls">
                            <input type="text" id="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">密码</label>
                        <div class="controls">
                            <input type="password" id="password" placeholder="Password" onKeyDown="login_keyDown()">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" id="remember_me">记住密码
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="login_submit">Login</a>
                <a href="#" class="btn btn-primary" id="reset">Reset</a>
            </div>
        </div>
    </div>
    <!--Container end-->
	
</body>
</html>
